header {
	@extend %text-center;
	background: $header;
	padding: 2em 0;
	h1 {
		color: white;
		font-family: $maximum;
	}
}
nav.main {
	@extend %wrapper;
	border-bottom: 1px solid $primary-color;
	padding: 1em 0;
	margin-bottom: 2em;
	ul {
		text-align: center;
		li {
			display: inline-block;
		}
	}
}
