%wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em;
}
.wrapper {
	@extend %wrapper;
}
main,
aside {
	@include breakpoint(medium) {
		/*padding: 2em 0;*/
	}
}
main {
	@include breakpoint(medium) {
		border-left: 1px solid $light-gray;
		article {
			padding-left: 1em;
		}
	}
}
